:root {
  --primary-50: #EAF6F4;
  --primary-100: #C1E4DD;
  --primary-200: #99D1C8;
  --primary-300: #72BEB2;
  --primary-400: #4CAA9D;
  --primary-500: #259688;
  --primary-600: #008174;
  --primary-700: #006C60;
  --primary-800: #00574D;
  --primary-900: #00423A;
  --primary-950: #00423A;
}