/* Colors */
.ambar, .ambar-dark {
  --primary-50: #fff7e5;
  --primary-100: #ffe6bf;
  --primary-200: #ffd48e;
  --primary-300: #ffc265;
  --primary-400: #ffb03d;
  --primary-500: #d97706;
  --primary-600: #b56405;
  --primary-700: #924f04;
  --primary-800: #703a03;
  --primary-900: #4e2702;
  --primary-950: #3b1f01;
}
/* Theme */
.ambar {
  --background: #FFFCF4;
  --foreground: #3B3934;
  --primary: #d97706;
  --primary-foreground: #FFFCF4;

  --accent: #ffe6bf
}
.dark.ambar-dark {
  --background: #222222;
  --foreground: #FFFCF4;
  --primary: #b56405;
  --primary-foreground: #fff7e5;

  --border: #3B3934;
  --input: #3B3934;

  --accent: #4e2702
}