.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  animation: slideIn 8.2s cubic-bezier(.26,.12,.52,1.02) infinite;
}

.box:nth-child(1) {
  animation-delay: 0s;
}

.box:nth-child(2) {
  animation-delay: 1.2s;
}

.box:nth-child(3) {
  animation-delay: 2.4s;
}

.box:nth-child(4) {
  animation-delay: 3.6s;
}

.box:nth-child(5) {
  animation-delay: 4.8s;
}

.box:nth-child(6) {
  animation-delay: 6s;
}

@keyframes slideIn {
  0% {
    left: -100%;
  }
  16.67% {
    left: 0;
  }
  33.34% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
